.homeContainer {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1400px) {
    .cardContainer {
      grid-template-columns: repeat(5, 1fr);
    }
  }

@media screen and (max-width: 1000px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
