.detailContainer {
  display: flex;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 10rem;
}
.videoContainer {
  display: flex;
  width: 100%;
}
.chapter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #E0E0E0;
  background-color: #F7F8FA;
}
